extends layout

block content
  h1=title

  form(method='POST' action='')
    div.form-group
      label(for='name') Name:
      input#name.form-control(type='text', placeholder='Song Name' name='name' required='true' value=(undefined===song ? '' : song.name) )
      label(for='artist') Artist:
      input#artist.form-control(type='text', placeholder='Artist' name='artist' required='true' value=(undefined===song ? '' : song.artist))
      label(for='link') Youtube Link:
      input#link.form-control(type='text', placeholder='Youtube Link' name='link' required='true' value=(undefined===song ? '' : song.link))
    button.btn.btn-primary(type='submit') Submit
  if errors 
    ul
      for error in errors
        li!= error.msg