/* Navbar */
.KOIcon {
  border-radius: 4px;
  height: 32px;
  width: 32px;
}
.upvote {
  color: #008000;
}

.downvote {
  color: #ff0000;
}

.upvote-button {
  background-color: #008000;
}

.downvote-button {
  background-color: #ff0000;
}
